.TopTitle{
  width: 100%;
  text-align: center;
  font-family: 'Permanent Marker', cursive;
  color: black;
  font-size: 2em;
  transform: rotate(5deg);
}

body{
  background-image: url("./298924cb.png")


}

.App {
  text-align: center;
  margin-left:10%; 

  
  
}

.Box{
width: 25%;
background: #E2B387 url("https://ugotsta.github.io/cheats/assets/cork.jpg") repeat;
margin: 15px;
float: left;
display: block;
font-family: 'Permanent Marker', cursive;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
border-style: inset;
border-width: 4px;
border-color: black;

}

.list-group{
margin-top: 20px;
}

.list-group-item{
margin-top: 20px;
list-style-type: none;
font-family: 'Indie Flower', cursive;
font-size: 1em;
background-image: url("./linedpaper.png");
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
margin: 10px;
height: 150px;
}

.LikeButt{
  color: blue;
  font-size: 0.9em;
}

.HateButt{
  color: red;
  font-size: 0.9em;

}

.list-group{
  padding: 0%;
}

button{
  font-family: 'Permanent Marker', cursive;

}